@{
    ViewData["Title"] = "My Home Page";
}


<h1>Main Page For Books <strong>MVC!</strong></h1>
<div class="alert alert-info">
    <p>This Site Is Under Construction</p>
</div>


@*@await Component.InvokeAsync("Sales", new { percentOff=.3M})*@ 
<vc:sales percent-off=".4M"></vc:sales>