@model BooksMVC.Models.Books.GetBooksResponseModel


<h2>Our Huge Selection of Books</h2>

<ul class="list-unstyled">
    @foreach(var book in Model.Books)
    {
        <li>@book.Title by @book.Author</li>
    }
</ul>

<div class="alert alert-info">
    <p>There are @Model.NumberOfBooksInInventory books in inventory
    (We have @Model.NumberOfBooksNotInInventory currently out)</p>
</div>
